@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'roboto';
}

/* Estilos para el header */
header {
  margin: 0px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 15px;
  z-index: 2000;
  right: 0;
  border-bottom: solid 1px red;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*mando el logo a la izqueirda y el nav a la derecha*/
}

header img {
  width: 150px;
}

header .menu input {
  /*oculto el check box */
  display: none;
}

header nav .menu ul li {
  display: inline-block;
  width: 130px;
  text-align: center;
  padding: 3px;
}

header nav .menu ul li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}

header nav .menu ul li a :hover {
  /* Estilos hover para header */
  color: red;
  border-bottom: 1.5px solid red;
}

/* Estilos para el main */
main {
  margin: 100px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto;
  -ms-grid-columns: 75% auto;
      grid-template: auto auto auto auto auto / 75% auto;
      grid-template-areas: 'carreras acceso-red-acad' 'carreras acceso-campus' 'carreras boletin' 'noticias noticias' 'contacto contacto';
}

/* Doy estilos a todos los h2 y h3 y si despues tengo qu emodificar alguno lo hago puntualmente */
h2 {
  margin: 25px;
  color: darkgrey;
  font-size: 2rem;
}

h3 {
  margin: 35px;
  color: darkgray;
  font-size: 26px;
  margin: 1rem auto;
}

.noticias {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: noticias;
}

.noticias #carouselExampleCaptions {
  margin: 0 20% 15px 20%;
}

.carreras {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: carreras;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-negative: none;
      flex-shrink: none;
  -webkit-box-flex: none;
      -ms-flex-positive: none;
          flex-grow: none;
  color: red;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carreras div {
  margin: 5px;
}

.carreras div p {
  width: 280px;
  height: 50px;
}

.carreras h2 {
  width: 100%;
  text-align: left;
}

.carreras img {
  width: 280px;
  height: 180px;
}

.carreras h1 {
  display: none;
}

/* hice esto para que tenga una h1, aun que la pagina no lo use */
.contacto {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contacto;
  background-color: black;
}

.contacto h3 {
  font-size: 24px;
  color: lightslategray;
  margin-left: 5px;
}

.contacto iframe {
  margin: 2.5%;
}

.contacto .listaContacto ul li {
  padding: 10px;
}

.acceso-reg-acad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.acceso-reg-acad img {
  margin: 0 auto;
}

.acceso-campus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.acceso-campus img {
  margin: 0 auto;
}

.boletin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-negative: none;
      flex-shrink: none;
  -webkit-box-flex: none;
      -ms-flex-positive: none;
          flex-grow: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boletin .boletin-form div {
  width: 100%;
  margin: 15px 0 5px 5px;
}

.boletin .boletin-form div input {
  border: 1px black solid;
  float: right;
  border-radius: 5px;
}

.boletin .boletin-form div .boletin img {
  margin: 0 auto;
}

.boletin .btn-buletin {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}

/* cosas para el carousel de noticias, se borro bastante codigo tambien del index para reemplazar por bootstrap*/
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contacto .listaContacto ul {
  width: 300px;
  list-style: none;
  color: white;
  margin: 5px;
}

.contacto .listaContacto ul a {
  border: 1px solid white;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
}

/* Estilos para el footer */
/* 
estos quedan comentados, son los originales. */
/* footer {
	display: flex;
	font-size: 36;
	margin: 1rem;
	justify-content: right;
	align-items: center;
}

footer div{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100px;
	border: 1px solid red;
	border-radius: 5px;
	margin: 0.25rem;
}

footer a {	
	background-color: white;
	color: black;
	text-decoration: none;
} */
/* modificación a las otras paginas*/
main.main-other-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.main-other-pages img {
  display: block;
  margin: 0 auto;
}

main.main-other-pages button {
  display: block;
  margin: 0 auto;
}

main.main-other-pages p {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

main.main-other-pages button {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

/* animaciones a imagenes de accesos*/
.imgAnimation:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}
/*# sourceMappingURL=style.css.map */