* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'roboto';
}

/* Estilos para el header */

header {
	margin: 0px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	padding: 15px;
	z-index: 2000;
	right: 0;
	border-bottom: solid 1px red;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: space-between; /*mando el logo a la izqueirda y el nav a la derecha*/
}

header img {
	width: 150px;
}

header .menu input {
	/*oculto el check box */
	display: none;
}

header nav .menu ul li {
	display: inline-block;
	width: 130px;
	text-align: center;
	padding: 3px;
}

header nav .menu ul li a {
	color: black;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.2rem;
}

/* Estilos hover para header */

header nav .menu ul li a:hover {
	color: red;
	border-bottom: 1.5px solid red;
}

/* Estilos para el main */

main {
	display: grid;
	grid-template: repeat(5, auto) / 75% 25%;
	grid-template-areas:
		'carreras acceso-red-acad'
		'carreras acceso-campus'
		'carreras boletin'
		'noticias noticias'
		'contacto contacto';
	margin: 100px 0px 0px 0px;
}

/* Doy estilos a todos los h2 y h3 y si despues tengo qu emodificar alguno lo hago puntualmente */

h2 {
	margin: 25px;
	color: darkgrey;
	font-size: 32px;
}

h3 {
	margin: 35px;
	color: darkgray;
	font-size: 26px;
	margin: 1rem auto;
}
.noticias {
	grid-area: noticias;
}

.carreras {
	grid-area: carreras;
	display: flex;
	flex-flow: row wrap;
	flex-shrink: none;
	flex-grow: none;
	color: red;
	text-align: center;
	justify-content: center;
}

.carreras div {
	margin: 5px;
}

.carreras div p {
	width: 280px;
}

.carreras h2 {
	width: 100%;
	text-align: left;
}
.carreras img {
	width: 280px;
	height: 180px;
}

/* hice esto para que tenga una h1, aun que la pagina no lo use */
.carreras h1 {
	display: none;
}

.contacto {
	grid-area: contacto;
	background-color: black;
}
.contacto h3 {
	font-size: 24px;
	color: lightslategray;
	margin-left: 5px;
}
.contacto iframe {
	margin: 2.5%;
}

.listaContacto ul li {
	padding: 10px;
}

.acceso-reg-acad {
	display: flex;
	flex-direction: column;
}

.acceso-reg-acad img {
	margin: 0 auto;
}

.acceso-campus {
	display: flex;
	flex-direction: column;
}

.acceso-campus img {
	margin: 0 auto;
}

.boletin {
	display: flex;
	flex-flow: column nowrap;
	flex-shrink: none;
	flex-grow: none;
	justify-content: center;
	align-items: center;
}

.boletin-form div {
	width: 100%;
	margin: 5px;
}

.boletin-form div input {
	border: 1px black solid;
	float: right;
	border-radius: 5px;
}
.boletin img {
	margin: 0 auto;
}
.btn-buletin {
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	padding: 5px;
}

.noticiasDestacadas {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	justify-content: space-evenly;
}

.contacto {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.listaContacto ul {
	width: 300px;
	list-style: none;
	color: white;
	margin: 5px;
}

.listaContacto a {
	border: 1px solid white;
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 0.5rem;
	border-radius: 10px;
}

/* Estilos para el footer */

footer {
	font-size: 36;
	float: right;
	margin: 1rem;
}

footer a {
	border: 1px solid red;
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 0.5rem;
	border-radius: 10px;
}

/* modificación a las otras paginas*/

main.main-other-pages {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

main.main-other-pages img {
	display: block;
	margin: 0 auto;
}

main.main-other-pages button {
	display: block;
	margin: 0 auto;
}

main.main-other-pages p {
	display: block;
	margin: 0 auto;
	max-width: 50%;
}

main.main-other-pages button {
	border: solid 1px black;
	border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
}

.iframeContacto {
	width: 90%;
}
